{% extends 'base.html.twig' %}

{% block title %}Oh Pétard !
{% endblock %}

{% block body %}


	<section class="hero-desktop">
		<img src="{{ asset('assets/images/Frame9.png')}}" alt="Oh Pétard Festival">
	</section>

	<section class="hero-mobile">
		<img src="{{ asset('assets/images/Frame10.png')}}" alt="Oh Pétard Festival">
	</section>


	<section class="lineup-section text-center bg-pink d-none d-md-block">
		<div class="row g-0">
			<div class="col-12  py-5 d-flex align-items-center flex-column">
				<div class="lineup-text text-yellow-light">
					<div class="lineup-big mb-4">DH URBAINE * CONCERTS DJ SET</div>
					<div class="lineup-medium mb-4">CONTEST BLOC URBAIN * CINÉ DÉBAT</div>
					<div class="lineup-small mb-4">TRACTO'SONO * SHOW TRIAL * CUVÉE OH PÉTARD</div>
					<div class="lineup-xsmall mb-4">TABLE RONDE * STREET FOOD LOCALE *• ANIMATIONS FAMILLE</div>
				</div>
				<div class=" cta-buttons mt-2 mt-lg-5">
					<a href="{{ path('app_billeterie')}}" class="btn btn-secondary me-4">Billetterie</a>
					<a href="{{ path('app_rider_registration')}}" class="btn btn-secondary">Inscriptions</a>
				</div>
			</div>
		</div>
	</section>

	<section class="lineup-section-mobile text-center bg-pink d-block d-md-none">
		<div class="row g-0">
			<div class="col-12  py-5 d-flex align-items-center flex-column">
				<div class="lineup-text text-yellow-light">
					<div class="lineup-big lineup-big-mobile mb-4 px-4">DH URBAINE * CONCERTS DJ SET * CONTEST BLOC URBAIN * CINÉ DÉBAT * TRACTO'SONO * SHOW TRIAL * CUVÉE OH PÉTARD * TABLE RONDE * STREET FOOD LOCALE * ANIMATIONS FAMILLE</div>
				</div>
				<div class=" cta-buttons mt-1">
					<a href="{{ path('app_billeterie')}}" class="btn btn-secondary me-4">Billetterie</a>
					<a href="{{ path('app_rider_registration')}}" class="btn btn-secondary">Inscriptions</a>
				</div>
			</div>
		</div>
	</section>

	<section class="zones-texte bandeau-good py-3 text-center d-none d-sm-block">
		<h3 class="m-0 lineup-big d-flex flex-column flex-sm-row align-items-center justify-content-center gap-2">
			<span class="food">good food</span>
			<span class="etoile d-none d-sm-inline">*</span>
			<span class="ride">good ride</span>
			<span class="etoile d-none d-sm-inline">*</span>
			<span class="music">good music</span>
		</h3>
	</section>

	<section class="about text-center py-3">
		<div class="container">
			<img src="{{ asset('assets/logos/Logo_BLEU_CLAIR.png') }}" alt="Logo Oh Pétard" class="img-fluid mb-4" style="max-width: 250px;">
			<h3 class=" fw-bold  text-uppercase m-0">
				Oh Pétard ! un festival qui fait du bruit
			</h3>
			<p class="mx-auto mt-1 lead" style="max-width: 600px;">Oh Pétard Festival débarque les 26 et 27 septembre à Buis-les-Baronnies pour deux jours de musique, de sports urbains et de célébrations de la Drôme provençale.
				<br>Un festival engagé et local, pour petits et grands.
			</p>
		</div>
	</section>


	<section class="section-carres text-center py-5">

		<div class="container">

			<div class="row justify-content-center g-4">

				<div class="col-12 col-md-4 pb-5 pb-md-0">
					<a href="{{ path('app_musique_prog') }}" class="text-decoration-none text-white" data-turbo="false">
						<div class="carre carre-small bg-yellow d-flex flex-column align-items-center position-relative overflow-visible">
							<h3 class="mt-2 fw-bold">MUSIQUE</h3>
							<img src="{{ asset('assets/images/dj.png') }}" alt="Musique" class=" pb-5 pb-md-0 carre-img carre-img-musique">
						</div>
					</a>
				</div>

				<div class="col-12 col-md-4 pb-5 pb-md-0">
					<a href="{{ path('app_sports_prog') }}" class="text-decoration-none text-white" data-turbo="false">
						<div class="carre carre-medium bg-red d-flex flex-column align-items-center position-relative overflow-visible">
							<h3 class="mt-2 fw-bold">SPORTS</h3>
							<img src="{{ asset('assets/images/velo.png') }}" alt="Sports" class="pb-5 pb-md-0 carre-img carre-img-sports">
						</div>
					</a>
				</div>

				<div class="col-12 col-md-4">
					<a href="{{ path('app_agri_prog') }}" class="text-decoration-none text-white" data-turbo="false">
						<div class="carre carre-large bg-dark-blue d-flex flex-column align-items-center position-relative overflow-visible">
							<h3 class="mt-2 fw-bold">AGRICULTURE</h3>
							<img src="{{ asset('assets/images/marche.png') }}" alt="Agriculture" class="carre-img carre-img-agriculture">
						</div>
					</a>
				</div>

			</div>
		</div>
	</section>


	<section class="zones-texte bandeau-good py-3 text-center">
		<h3 class="m-0 lineup-big d-flex flex-column flex-sm-row align-items-center justify-content-center gap-2">
			<span class="food">good food</span>
			<span class="etoile d-none d-sm-inline">*</span>
			<span class="ride">good ride</span>
			<span class="etoile d-none d-sm-inline">*</span>
			<span class="music">good music</span>
		</h3>
	</section>


	<section class="section-animations-food py-5 position-relative mt-4 mb-5 mb-md-0">

		<div class="container px-4">

			<div class="bloc-info mb-5 ">
				<h2 class="fw-bold text-uppercase mb-1 lineup-big">Animations</h2>
				<p>
					Parce qu'un festival, c'est aussi de la curiosité, de la détente et des sourires, on vous a préparé une ribambelle d'animations ludiques et artistiques, pour les jeunes de 7 à 77 ans !
				</p>
				<a href="{{ path('app_anim_prog')}}" class="link-more">En savoir plus</a>
			</div>

			<div class="bloc-info">
				<h2 class="fw-bold text-uppercase mb-1 lineup-big">Street Food Locale</h2>
				<p>
					Retrouvez une cuisine maison, généreuse et de saison, préparée avec amour par des bénévoles aussi “loco” que les produits.
				</p>
				<a href="{{ path('app_restau')}}" class="link-more">Découvrir</a>
			</div>

			<img src="{{ asset('assets/images/sandwich.png')}}" alt="Illustration sandwich" class="illu-sandwich">
		</div>
	</section>


	<section class="benevoles-section py-5">
		<div class="container benevoles-container">
			<div class="row align-items-center">
				<div class="col-12 col-md-8 text-center text-md-start px-5 ">
					<h2 class="fw-bold text-red">Rejoins la team des bénévoles</h2>
					<p>
						Le Oh Pétard festival, c’est surtout une belle aventure collective. Envie de filer un coup de main, de vivre les coulisses du festival et de partager de bons moments ? Que tu sois pro du gaffer, as du service, ou juste plein·e de bonne humeur, rejoins-nous !
					</p>
				</div>
				<div class="col-12 col-md-4 text-center text-md-end mt-3 mt-md-0 px-5 ">
					<a href="https://docs.google.com/forms/d/19NBb4TzEdwFG33s_4wIVZ9zybj-PkYp9rxBr82yKadA/viewform?edit_requested=true" class="btn btn-primary btn-lg" target="_blank" rel="noopener noreferrer">
						Devenir bénévole
					</a>
				</div>
			</div>
		</div>
	</section>


	<section class="zones-texte bandeau-good py-3 text-center d-none d-sm-block">
		<h3 class="m-0 lineup-big">
			<span class="food">good food</span>
			<span class="etoile">*</span>
			<span class="ride">good ride</span>
			<span class="etoile">*</span>
			<span class="music">good music</span>
		</h3>
	</section>

	<section class="section-adherer position-relative py-0 py-md-5 mb-5 mb-md-0">
		<div class="container">

			<div class="adhesion-box text-center p-5 p-md-5">
				<h2 class="fw-bold mb-3">Adhère à l’association Oh Pétard !</h2>
				<p class="mb-4">
					Envie de soutenir un festival local, engagé et festif ? Adhère à l'association Oh Pétard ! et participe à une aventure humaine unique au cœur de Buis-les-Baronnies.
				</p>
				<a href="https://www.helloasso.com/associations/association-oh-petard/adhesions/adhesion-association-oh-petard" class="text-uppercase btn btn-secondary" target="_blank" rel="noopener noreferrer">Adhérer</a>
			</div>

			<img src="{{ asset('assets/images/micro.png')}}" alt="Illustration micro" class="illu-micro">

		</div>
	</section>


{% endblock %}
