{% extends 'base.html.twig' %}

{% block title %}Inscriptions Riders
{% endblock %}

{% block body %}


	<section class="inscription-riders px-3">
		<div class="text-center my-5">

			<h1 class="inscription-riders-title">Tu t'inscris où ?</h1>
			<p class="inscription-riders-subtitle">
				Contest amical de bloc urbain ou parcours de DH Urbaine.
			</p>

			<section class="riders-choices-section text-center ">

				<div class="container">
					<div
						class="row justify-content-center g-4">

						<!-- Image Bloc Urbain -->
						<div class="col-12 col-md-6">
							<a href="{{ path('app_inscription_dh') }}" class="rider-choice-link">
								<img src="{{ asset('assets/images/carre-dh.png') }}" alt="Bloc Urbain" class="rider-choice-img">
							</a>
						</div>

						<!-- Image DH Urbaine -->
						<div class="col-12 col-md-6">
							<a href="{{ path('app_inscription_bloc') }}" class="rider-choice-link">
								<img src="{{ asset('assets/images/carre-bloc.png') }}" alt="DH Urbaine" class="rider-choice-img">
							</a>
						</div>

					</div>

					<!-- Bouton retour -->
					<div class="text-center my-5">
						<a href="{{ path('app_home') }}">
							<button class="btn btn-outline-primary">Retour</button>
						</a>
					</div>
				</div>
			</section>
		</div>
	</section>

{% endblock %}
